@page "/account/resetpassword"
@page "/account/resetpassword/{UserId}"
@* inherets ResetPasswordBase *@

@layout LoginLayout

@inject NavigationManager navigationManager
@inject HttpClient Http
@inject AuthenticationStateProvider authStateProvider
@inject IStringLocalizer<Global> L
@inject IViewNotifier viewNotifier

<MudCard>
    <div class="logo">
        <img src="_content/SSDCPortal.Theme.Material/images/logo.svg" style="width:100px;" /><br />SSDCPortal
        <br />
        <h4>@L["Password Reset"]</h4>
    </div>
    <EditForm Model="@resetPasswordViewModel" OnValidSubmit="@SendResetPassword">
        <FluentValidationValidator />
        <ValidationSummary />
        <fieldset>
            <div class="form-group">
                <MudTextField @bind-Value="@resetPasswordViewModel.Password" Text=@L["Password"] Icon="lock_outline" IconTrailing="true" FullWidth="true" Required="true" Type="password"></MudTextField>
            </div>
            <div class="form-group">
                <MudTextField @bind-Value="@resetPasswordViewModel.PasswordConfirm" Text=@L["Password Confirmation"] Icon="lock_outline" IconTrailing="true" FullWidth="true" Required="true" Type="password"></MudTextField>
            </div>
            <div class="form-group d-flex justify-content-end">
                <MudButton ButtonType="ButtonType.Submit" >@L["Reset Password"]</MudButton>
            </div>
        </fieldset>
        <hr />
        <NavLink href="/">
            <h6 class="font-weight-normal text-center">@L["Cancel"]</h6>
        </NavLink>
    </EditForm>
</MudCard>

@code {
    ResetPasswordViewModel resetPasswordViewModel { get; set; } = new ResetPasswordViewModel();

    [Parameter]
    public string UserId { get; set; }

    protected override void OnInitialized()
    {
        // Blazor does not have query string accessible parameters yet so a hack is needed. Token is too long for path parameter
        var absoluteUrl = navigationManager.Uri;
        var token = absoluteUrl.Substring(absoluteUrl.IndexOf("?token=") + 7);

        if (!string.IsNullOrEmpty(UserId) && !string.IsNullOrEmpty(token))
        {
            resetPasswordViewModel.Token = token;
            resetPasswordViewModel.UserId = this.UserId;
        }
        else
        {
            viewNotifier.Show("Your url is missing the Reset Token. Fatal Error", ViewNotifierType.Error, "Reset Token is Missing");
        }
    }

    async Task SendResetPassword()
    {
        try
        {
            ApiResponseDto apiResponse = await ((IdentityAuthenticationStateProvider)authStateProvider).ResetPassword(resetPasswordViewModel);

            if (apiResponse.IsSuccessStatusCode)
            {
                viewNotifier.Show(L["ResetPasswordSuccessful"], ViewNotifierType.Success);
                navigationManager.NavigateTo(SSDCPortal.Constants.Settings.LoginPath);
            }
            else
            {
                viewNotifier.Show(apiResponse.Message, ViewNotifierType.Error, L["ResetPasswordFailed"]);
            }
        }
        catch (Exception ex)
        {
            viewNotifier.Show(ex.Message, ViewNotifierType.Error, L["ResetPasswordFailed"]);
        }
    }
}
