@page "/admin/identityResources"
@attribute [Authorize(Policies.IsAdmin)]
@layout AdminLayout
@inject HttpClient Http
@inject IStringLocalizer<Global> L
@inject ISnackbar Snackbar
@using IdentityServer4.Models
@using IdentityModel
@using System.Net

<h1>@L["IdentityResources"]</h1>
<p>Identity Resources Management.</p>

@if (identiyResources == null)
{
    <LoadingBackground ShowLogoBox="true">
        <label>@L["Loading"]</label>
    </LoadingBackground>
}
else
{
    <MudTable Class="mat-elevation-z5" Items="@identiyResources" Striped="true">
        <HeaderContent>
            <MudTh><MudButton Icon="add" Label=@L["New Identity Resource"] OnClick="@(() => OpenUpsertIdentityResourceDialog())"></MudButton></MudTh>
            <MudTh>@L["Name"]</MudTh>
            <MudTh>Enabled</MudTh>
            <MudTh>Display Name</MudTh>
            <MudTh>Description</MudTh>
            <MudTh>Required</MudTh>
            <MudTh>Emphasize</MudTh>
            <MudTh>Show in discovery document</MudTh>
            <MudTh>User Claims</MudTh>
        </HeaderContent>
        <RowTemplate Context="IdentityResourceRow">
            <MudTd>
                <div style="width:155px;">
                    <MudIconButton Icon="edit" OnClick="@(() => OpenUpsertIdentityResourceDialog(IdentityResourceRow))"></MudIconButton>
                    <MudIconButton Icon="delete" OnClick="@(() => OpenDeleteIdentityResourceDialog(IdentityResourceRow))"></MudIconButton>
                </div>
            </MudTd>
            <MudTd><div style="min-width:130px;">@IdentityResourceRow.Name</div></MudTd>
            <MudTd><MudSwitch Checked="@IdentityResourceRow.Enabled" ValueChanged="@((item) => UpdateEnabled(IdentityResourceRow))"></MudSwitch></MudTd>
            <MudTd><div style="min-width:130px;">@IdentityResourceRow.DisplayName</div></MudTd>
            <MudTd><div style="min-width:130px;">@IdentityResourceRow.Description</div></MudTd>
            <MudTd><MudSwitch Checked="@IdentityResourceRow.Required" Disabled="true"></MudSwitch></MudTd>
            <MudTd><MudSwitch Checked="@IdentityResourceRow.Emphasize" Disabled="true"></MudSwitch></MudTd>
            <MudTd><MudSwitch Checked="@IdentityResourceRow.ShowInDiscoveryDocument" Disabled="true"></MudSwitch></MudTd>
            <MudTd>
                <MudChipSet>
                    @foreach (var userClaim in IdentityResourceRow.UserClaims)
                        {
                        <MudChip Text="@userClaim"></MudChip>
                        }
                </MudChipSet>
            </MudTd>
        </RowTemplate>
    </MudTable>
}

<MudDialog @bind-IsOpen="@isUpsertIdentityResourceDialogOpen">
    <TitleContent>
        @labelUpsertDialogTitle
    </TitleContent>
    <DialogContent>
        <EditForm Model="@currentIdentityResource">
            <FluentValidationValidator />
            <ValidationSummary />
            <MudTabs>
                <MudTabPanel Text="Main">
                    <fieldset>
                        <div class="form-group">
                            <MudTextField @bind-Value="@currentIdentityResource.Name" Disabled="@isCurrentIdentityContextIdReadOnly" Label="Id" Icon="description" IconTrailing="true" FullWidth="true" Required="true"></MudTextField>
                        </div>
                        <div class="form-group">
                            <MudSwitch @bind-Checked="@currentIdentityResource.Enabled" Label="Enabled"></MudSwitch>
                        </div>
                        <div class="form-group">
                            <MudTextField @bind-Value="@currentIdentityResource.DisplayName" Label="Display Name" Icon="description" IconTrailing="true" FullWidth="true"></MudTextField>
                        </div>
                        <div class="form-group">
                            <MudTextField @bind-Value="@currentIdentityResource.Description" Label="Description" Icon="description" IconTrailing="true" FullWidth="true"></MudTextField>
                        </div>
                        <div class="form-group">
                            <MudSwitch @bind-Checked="@currentIdentityResource.Required" Label="Required"></MudSwitch>
                        </div>
                        <div class="form-group">
                            <MudSwitch @bind-Checked="@currentIdentityResource.Emphasize" Label="Emphasize in consent screen"></MudSwitch>
                        </div>
                        <div class="form-group">
                            <MudSwitch @bind-Checked="@currentIdentityResource.ShowInDiscoveryDocument" Label="Show in discovery document"></MudSwitch>
                        </div>
                    </fieldset>
                </MudTabPanel>
                <MudTabPanel Text="User Claims">
                    <fieldset>
                        <div class="form-group" style="margin-top:16px;">
                            <div class="form-group">
                                <MudTextField @bind-Value="@currentIdentityResource.CustomUserClaimsText" Label="Custom User Claims" TextArea="true" FullWidth="true" Required="false"></MudTextField>
                            </div>
                        </div>
                    </fieldset>
                    <MudDivider></MudDivider>
                    <h3 class="mat-subtitle1">Jwt Claims</h3>
                    <MudTable Items="@jwtClaimSelections" Class="mat-elevation-z5, mdc-table-allow" ShowPaging="false" PageSize="@int.MaxValue">
                        <HeaderContent>
                            <MudTh>@L["Name"]</MudTh>
                            <MudTh>Required</MudTh>
                        </HeaderContent>
                        <RowTemplate Context="JwtClaimRow">
                            <MudTd>@JwtClaimRow.Name</MudTd>
                            <MudTd>There was a CheckBox</MudTd>
                        </RowTemplate>
                    </MudTable>
                </MudTabPanel>
            </MudTabs>
        </EditForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@CancelChanges">@L["Cancel"]</MudButton>
        <MudButton OnClick="@UpsertIdentityResource">@labelUpsertDialogOkButton</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-IsOpen="@isDeleteIdentityResourceDialogOpen" Style="z-index:100">
    <TitleContent><MudIcon Icon="warning"></MudIcon> @L["Confirm Delete"]</TitleContent>
    <DialogContent>
        @L["Are you sure you want to delete {0}?", currentIdentityResource.Name]
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@(e => { isDeleteIdentityResourceDialogOpen = false; })">@L["Cancel"]</MudButton>
        <MudButton OnClick="@DeleteIdentityResourceAsync">@L["Delete"]</MudButton>
    </DialogActions>
</MudDialog>

@code {
    int pageSize { get; set; } = 15;
    int currentPage { get; set; } = 0;

    bool isCurrentIdentityContextIdReadOnly = false;

    List<IdentityResourceDto> identiyResources;
    IdentityResourceDto currentIdentityResource { get; set; } = new IdentityResourceDto();
    Secret currentSecret { get; set; } = new Secret();

    #region OnInitializedAsync

    protected override async Task OnInitializedAsync()
    {
        await InitializeIdentityResourcesListAsync();
    }

    public async Task InitializeIdentityResourcesListAsync()
    {
        try
        {
            var identiyResponse = await Http.GetNewtonsoftJsonAsync<ApiResponseDto<List<IdentityResourceDto>>>($"api/Admin/IdentityResources?pageSize={pageSize}&pageNumber={currentPage}");

            if (identiyResponse.IsSuccessStatusCode)
            {
                //viewNotifier.Show(identiyResponse.Message, ViewNotifierType.Success,);
                Snackbar.Add(L["Operation Successful"], Severity.Success, config =>
                {
                    config.ShowCloseIcon = true;
                    config.SnackbarVariant = Variant.Filled;
                    config.ActionColor = Color.Success;
                });

                identiyResources = identiyResponse.Result;
            }
            else
                //viewNotifier.Show(identiyResponse.Message, ViewNotifierType.Error, L["Operation Failed"]);
                Snackbar.Add(L["Operation failed"], Severity.Success, config =>
                {
                    config.ShowCloseIcon = true;
                    config.SnackbarVariant = Variant.Filled;
                    config.ActionColor = Color.Success;
                });

        }
        catch (Exception ex)
        {
            //viewNotifier.Show(ex.GetBaseException().Message, ViewNotifierType.Error, L["Operation Failed"]);
            Snackbar.Add(ex.GetBaseException().Message, Severity.Error, config =>
            {
                config.ShowCloseIcon = true;
                config.SnackbarVariant = Variant.Filled;
                config.ActionColor = Color.Error;
            });
        }
    }

    #endregion

    #region OpenUpsertIdentityResourceDialog

    class Selection
    {
        public bool IsSelected { get; set; }
        public string Name { get; set; }
        public string Value { get; set; }
    };

    bool isUpsertIdentityResourceDialogOpen = false;
    bool isInsertOperation;

    string labelUpsertDialogTitle;
    string labelUpsertDialogOkButton;
    List<Selection> jwtClaimSelections = new List<Selection>();


    void OpenUpsertIdentityResourceDialog(IdentityResourceDto identiyResource = null)
    {
        try
        {
            isInsertOperation = identiyResource == null;

            currentIdentityResource = identiyResource ?? new IdentityResourceDto();

            // Update the UI
            if (isInsertOperation)
            {
                labelUpsertDialogTitle = L["New Identity Resource"];
                labelUpsertDialogOkButton = L["Create"];
            }
            else
            {
                labelUpsertDialogTitle = L["Edit {0}", currentIdentityResource.Name];
                labelUpsertDialogOkButton = L["Update"];
            }

            isCurrentIdentityContextIdReadOnly = !isInsertOperation;

            jwtClaimSelections.Clear();

            foreach (var info in typeof(JwtClaimTypes).GetFields().Where(x => x.IsStatic && x.IsLiteral))
            {
                jwtClaimSelections.Add(new Selection
                {
                    Name = $"{info.Name.Humanize(LetterCasing.Title)} ({info.GetValue(info)})",
                    Value = info.GetValue(info).ToString(),
                    IsSelected = currentIdentityResource.UserClaims.Contains(info.GetValue(info))
                });
            }

            currentIdentityResource.CustomUserClaims = currentIdentityResource.GetCustomUserClaims().ToList();

            if (!isInsertOperation)
                currentIdentityResource.SaveState();

            isUpsertIdentityResourceDialogOpen = true;
        }
        catch (Exception ex)
        {
           // viewNotifier.Show(ex.GetBaseException().Message, ViewNotifierType.Error, L["Operation Failed"]);
            Snackbar.Add(ex.GetBaseException().Message, Severity.Error, config =>
            {
                config.ShowCloseIcon = true;
                config.SnackbarVariant = Variant.Filled;
                config.ActionColor = Color.Error;
            });
        }
    }

    async Task UpdateEnabled(IdentityResourceDto identiyResource)
    {
        currentIdentityResource = identiyResource;
        currentIdentityResource.Enabled = !currentIdentityResource.Enabled;
        isInsertOperation = false;
        await UpsertIdentityResource();
    }

    void CancelChanges()
    {
        currentIdentityResource.RestoreState();
        isUpsertIdentityResourceDialogOpen = false;
    }

    async Task UpsertIdentityResource()
    {
        try
        {
            if (currentIdentityResource == null)
            {
                //viewNotifier.Show("IdentityResource Creation Error", ViewNotifierType.Error, "New Identity Resource not found");
                Snackbar.Add(L["IdentityResource Creation Error"], Severity.Error, config =>
                {
                    config.ShowCloseIcon = true;
                    config.SnackbarVariant = Variant.Filled;
                    config.ActionColor = Color.Error;
                });
                return;
            }

            if (isUpsertIdentityResourceDialogOpen)
            {
                currentIdentityResource.UserClaims = jwtClaimSelections.Where(i => i.IsSelected).Select(i => i.Value).ToList();
                ((List<string>)currentIdentityResource.UserClaims).AddRange(currentIdentityResource.CustomUserClaims);
            }

            ApiResponseDto identiyResponse;

            if (isInsertOperation)
                identiyResponse = await Http.PostJsonAsync<ApiResponseDto>("api/Admin/IdentityResource", currentIdentityResource);
            else
                identiyResponse = await Http.PutJsonAsync<ApiResponseDto>("api/Admin/IdentityResource", currentIdentityResource);

            if (identiyResponse.IsSuccessStatusCode)
            {
                //viewNotifier.Show(identiyResponse.Message, ViewNotifierType.Success);
                Snackbar.Add(L["IdentityResource Creation Error"], Severity.Error, config =>
                {
                    config.ShowCloseIcon = true;
                    config.SnackbarVariant = Variant.Filled;
                    config.ActionColor = Color.Error;
                });
                StateHasChanged();
            }
            else
                //viewNotifier.Show(identiyResponse.Message, ViewNotifierType.Error);

                Snackbar.Add(L["IdentityResource Creation Error"], Severity.Error, config =>
                {
                    config.ShowCloseIcon = true;
                    config.SnackbarVariant = Variant.Filled;
                    config.ActionColor = Color.Error;
                });
            await OnInitializedAsync();

            isUpsertIdentityResourceDialogOpen = false;
        }
        catch (Exception ex)
        {
            //viewNotifier.Show(ex.GetBaseException().Message, ViewNotifierType.Error, L["Operation Failed"]);
            Snackbar.Add(L["IdentityResource Creation Error"], Severity.Error, config =>
            {
                config.ShowCloseIcon = true;
                config.SnackbarVariant = Variant.Filled;
                config.ActionColor = Color.Error;
            });
        }
        finally
        {
            currentIdentityResource.ClearState();
        }
    }

    #endregion

    #region OpenDeleteIdentityResourceDialog

    bool isDeleteIdentityResourceDialogOpen = false;

    void OpenDeleteIdentityResourceDialog(IdentityResourceDto identiyResource)
    {
        currentIdentityResource = identiyResource;
        isDeleteIdentityResourceDialogOpen = true;
    }

    async Task DeleteIdentityResourceAsync()
    {
        try
        {
            var response = await Http.DeleteAsync($"api/Admin/IdentityResource/{currentIdentityResource.Name}");
            if (response.StatusCode != (HttpStatusCode)Status200OK)
            {
                //viewNotifier.Show("Identity Resource Delete Failed", ViewNotifierType.Error);
                Snackbar.Add(L["IdentityResource Creation Error"], Severity.Error, config =>
                {
                    config.ShowCloseIcon = true;
                    config.SnackbarVariant = Variant.Filled;
                    config.ActionColor = Color.Error;
                });
                
                return;
            }

            //viewNotifier.Show("Identity Resource Deleted", ViewNotifierType.Success);
            Snackbar.Add("Identity Resource Deleted", Severity.Error, config =>
            {
                config.ShowCloseIcon = true;
                config.SnackbarVariant = Variant.Filled;
                config.ActionColor = Color.Error;
            });
            await OnInitializedAsync();
            isDeleteIdentityResourceDialogOpen = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.GetBaseException().Message, Severity.Error, config =>
            {
                config.ShowCloseIcon = true;
                config.SnackbarVariant = Variant.Filled;
                config.ActionColor = Color.Error;
            });

        }
    }

    #endregion
}
