@page "/admin/translations"
@inherits TranslationsPage
@attribute [Authorize(Policies.IsAdmin)]
@layout AdminLayout

@using Blazored.TextEditor

<h1>@L["Translations"]</h1>

@if (localizationRecordKeys == null)
{
    <LoadingBackground ShowLogoBox="true">
        <label>@L["Loading"]</label>
    </LoadingBackground>
}
else
{
    <MudTextField ValueChanged="(string filter) => LoadKeys(filter)" Icon="search" />
    <MudTable Items="@localizationRecordKeys" Class="mat-elevation-z5"
              Striped="true"
              PageSize="@pageSize"
              ShowPaging="false"
              AllowSelection="true"
              SelectionChanged="async (object key) => await LoadLocalizationRecords((LocalizationRecordKey)key)">
        <HeaderContent>
            <MudTh><MudButton Icon="add" Label=@L["NewTranslation"] OnClick="@OpenNewKeyDialogOpen"></MudButton></MudTh>
            <MudTh>@L["MsgId"]</MudTh>
            <MudTh>@L["ContextId"]</MudTh>
        </HeaderContent>
        <RowTemplate Context="keyRow">
            <MudTd>
                <div>
                    <MudIconButton Icon="edit" OnClick="@(() => OpenEditDialog(keyRow))"></MudIconButton>
                    <MudIconButton Icon="delete" OnClick="@(() => OpenDeleteDialog(keyRow))"></MudIconButton>
                </div>
            </MudTd>
            <MudTd>@keyRow.MsgId</MudTd>
            <MudTd>@keyRow.ContextId</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSize="@pageSize" Page="async a => await OnPage(a)" Length="@totalItemsCount" Style="background: transparent"></MudTablePager>
        </PagerContent>
    </MudTable>

    <MudTable Items="@localizationRecords" Class="mat-elevation-z5" Striped="true" ShowPaging="false" PageSize="50">
        <HeaderContent>
            <MudTh></MudTh>
            <MudTh>@L["Culture"]</MudTh>
            <MudTh style="width: 100%;">@L["Translation"]</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate Context="row">
            <MudTd>
                <div>
                    <MudIconButton Icon="delete" OnClick="@(() => DeleteLocalizationRecord(row))" Disabled="@(row.Culture == SSDCPortal.Shared.Localizer.Settings.NeutralCulture)"></MudIconButton>
                </div>
            </MudTd>
            <MudTd><b>@row.Culture</b></MudTd>
            <MudTd>
                <MudTextField @bind-Value="@row.Translation" TextArea="true" FullWidth="true" Required="true" Style="resize: both"></MudTextField>
            </MudTd>
            <MudTd>
                <div>
                    <MudButton Style="margin-bottom: 5px; white-space: nowrap" Raised="true" OnClick="@(() => OpenEditAsHtmlDialog(row))">@L["Edit as HTML"]</MudButton>
                    <MudButton Outlined="@(row.PluralTranslations.Count == 0)" Raised="@(row.PluralTranslations.Count > 0)" OnClick="@(() => OpenPluralDialog(row))">@L["Plural"]</MudButton>
                </div>
            </MudTd>
        </RowTemplate>
    </MudTable>
    @if (LocalizationCultures.Count > 0)
    {<EditForm Model="@newLocalizationRecord" OnValidSubmit="@SaveNewLocalizationRecord">
            <FluentValidationValidator />
            <ValidationSummary />
            <fieldset>
                <div class="form-group">
                    <MudSelectItem @bind-Value="@newLocalizationRecord.Culture" Items="@LocalizationCultures" Label=@L["Culture"]></MudSelectItem>
                    <MudTextField @bind-Value="@newLocalizationRecord.Translation" Label=@L["Translation"] FullWidth="true" TextArea="true" Style="resize: both"></MudTextField>
                    <MudButton Type="submit" Raised="true">@L["Add"]</MudButton>
                    <MudButton Raised="true" OnClick="@(() => OpenEditAsHtmlDialog(newLocalizationRecord))">@L["Edit as HTML"]</MudButton>
                </div>
            </fieldset>
        </EditForm>}

    <MudButton OnClick="@CancelChanges" Raised="true">@L["Cancel"]</MudButton>
    <MudButton OnClick="@SaveChanges" Raised="true">@L["Save"]</MudButton>
    <MudButton OnClick="@ReloadTranslations" Raised="true">@L["ReloadTranslations"]</MudButton>
    @*Hack. See https://github.com/SamProf/MatBlazor/issues/713*@
    <div>
        <MudButton Style="margin-top: 5px" OnClick="@(e => { navigationManager.NavigateTo("/api/localization/export", true); })">@L["Export"]</MudButton>
        @*<MudButton Link="/api/localization/export" Raised="true">@L["Export"]</MudButton>*@
        <InputFile id="fileInput112"  />
        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Filled.CloudUpload" for="fileInput112">
            @L["Import PO file"]
        </MudButton>

        @*<MudFileUpload OnChange="@Upload" Label=""></MudFileUpload>*@
    </div>

    <MudDialog>
        @*bind-IsOpen="@isEditDialogOpen" >*@
        <TitleContent>@L["Edit {0}", currentKey]</TitleContent>
        <DialogContent>
            <div class="form-group">
                <MudTextField @bind-Value="@newKey.ContextId" Label=@L["ContextId"] Icon="vpn_key" IconTrailing="true" FullWidth="true" Required="true"></MudTextField>
            </div>
            <div class="form-group">
                <MudTextField @bind-Value="@newKey.MsgId" Label=@L["MsgId"] Icon="vpn_key" IconTrailing="true" FullWidth="true" Required="true"></MudTextField>
            </div>
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="@(e => { isEditDialogOpen = false; })">@L["Cancel"]</MudButton>
            <MudButton OnClick="@(()=>EditLocalizationRecordKey())">@L["Save"]</MudButton>
        </DialogActions>
    </MudDialog>

    <MudDialog>
        @*@bind-IsOpen="@isDeleteDialogOpen">*@
        <TitleContent><MudIcon Icon="warning"></MudIcon> @L["Confirm Delete"]</TitleContent>
        <DialogContent>
            @L["Are you sure you want to delete {0}?", currentKey]
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="@(e => { isDeleteDialogOpen = false; })">@L["Cancel"]</MudButton>
            <MudButton OnClick="@(()=>DeleteLocalizationRecordKey(currentKey))">@L["Delete"]</MudButton>
        </DialogActions>
    </MudDialog>

    <MudDialog>
        @*@bind-IsOpen="@isNewKeyDialogOpen">*@
        <TitleContent>@L["NewTranslation"]</TitleContent>
        <DialogContent>
            <EditForm id="newKeyForm" Model="@newLocalizationRecord" OnValidSubmit="@SaveNewKey">
                <FluentValidationValidator />
                <ValidationSummary />
                <fieldset>
                    <div class="form-group">
                        <MudTextField @bind-Value="@newLocalizationRecord.ContextId" Label=@L["ContextId"] Icon="vpn_key" IconTrailing="true" FullWidth="true" Required="true"></MudTextField>
                    </div>
                    <div class="form-group">
                        <MudTextField @bind-Value="@newLocalizationRecord.MsgId" Label=@L["MsgId"] Icon="vpn_key" IconTrailing="true" FullWidth="true" Required="true"></MudTextField>
                    </div>
                    <div class="form-group">
                        <MudTextField @bind-Value="@newLocalizationRecord.Culture" Label=@L["Culture"] Icon="public" IconTrailing="true" FullWidth="true" Required="true" Disabled="true"></MudTextField>
                    </div>
                    <div class="form-group">
                        <MudTextField @bind-Value="@newLocalizationRecord.Translation" Label=@L["Translation"] FullWidth="true" Required="true" TextArea="true" Style="resize: both"></MudTextField>
                    </div>
                </fieldset>
            </EditForm>
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="@CancelChanges">@L["Cancel"]</MudButton>
            <MudButton Type="submit" form="newKeyForm" Raised="true">@L["Save"]</MudButton>
        </DialogActions>
    </MudDialog>

    <MudDialog>
        @*@bind-IsOpen="@isPluralDialogOpen">*@
        <TitleContent>@L["Plural"]</TitleContent>
        <DialogContent>
            <MudTable Items="@currentLocalizationRecord.PluralTranslations" Class="mat-elevation-z5" Striped="true" ShowPaging="false" PageSize="50">
                <HeaderContent>
                    <MudTh></MudTh>
                    <MudTh>@L["Index"]</MudTh>
                    <MudTh>@L["Translation"]</MudTh>
                </HeaderContent>
                <RowTemplate Context="row">
                    <MudTd>
                        <div>
                            <MudIconButton Icon="delete" OnClick="@(() => DeletePluralTranslation(row))"></MudIconButton>
                        </div>
                    </MudTd>
                    <MudTd>
                        <MudTextField @bind-Value="@row.Index" TextArea="true" FullWidth="true" Required="true"></MudTextField>
                    </MudTd>
                    <MudTd>
                        <MudTextField @bind-Value="@row.Translation" TextArea="true" FullWidth="true" Required="true" Style="resize: both"></MudTextField>
                    </MudTd>
                </RowTemplate>
            </MudTable>
            @if (PluralFormRules[currentLocalizationRecord.Culture].Count > currentLocalizationRecord.PluralTranslations.Count)
            {
                <EditForm Model="@newPlural" OnValidSubmit="@SaveNewPlural">
                    <FluentValidationValidator />
                    <ValidationSummary />
                    <fieldset>
                        <div class="form-group">
                            <MudTextField @bind-Value="@newPlural.Index" Label=@L["Index"] FullWidth="true"></MudTextField>
                            <MudTextField @bind-Value="@newPlural.Translation" Label=@L["Translation"] FullWidth="true" TextArea="true" Style="resize: both"></MudTextField>
                            <MudButton Type="submit" Raised="true">@L["Add"]</MudButton>
                        </div>
                    </fieldset>
                </EditForm>
            }
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="@CancelPluralChanges">@L["Cancel"]</MudButton>
            <MudButton OnClick="@SavePluralChanges" Raised="true">@L["Save"]</MudButton>
        </DialogActions>
    </MudDialog>

    @if (currentLocalizationRecord != null)
    {
        <MudDialog Id="editashtmldialog">
            @* @bind-IsOpen="@isEditAsHtmlDialogOpen*@
            <TitleContent>@L["Edit as HTML"]</TitleContent>
            <DialogContent>
                <!--  Style="overflow: visible" -->
                <BlazoredTextEditor @ref="@HtmlEditor">
                    <ToolbarContent>
                        <select class="ql-header">
                            <option selected=""></option>
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                            <option value="4"></option>
                            <option value="5"></option>
                        </select>
                        <button class="ql-bold"></button>
                        <button class="ql-italic"></button>
                        <button class="ql-underline"></button>
                        <button class="ql-strike"></button>
                        <select class="ql-color"></select>
                        <button class="ql-list" value="ordered"></button>
                        <button class="ql-list" value="bullet"></button>
                        <select class="ql-align">
                            <option selected=""></option>
                            <option value="center"></option>
                            <option value="right"></option>
                            <option value="justify"></option>
                        </select>
                        <button class="ql-link"></button>
                    </ToolbarContent>
                    <EditorContent>
                    </EditorContent>
                </BlazoredTextEditor>
            </DialogContent>
            <DialogActions>
                <MudButton OnClick="@(e => { isEditAsHtmlDialogOpen = false; })">@L["Cancel"]</MudButton>
                <MudButton OnClick="@(() => SaveLocalizationRecordAsHTML())">@L["Confirm"]</MudButton>
            </DialogActions>
        </MudDialog>}
}

@code {

}
