@page "/admin/settings"
@inherits SettingsBase

<h4>@L["MainSettings"]</h4>

@if (settings == null)
{
    <LoadingBackground ShowLogoBox="true">
        <label>@L["Loading"]</label>
    </LoadingBackground>
}
else
{
    <EditForm Model="@settings">
        <FluentValidationValidator />
        <ValidationSummary />
        <fieldset>
            <div class="form-group">
                <MudSelectItem @bind-Value="@settings[SettingKey.MainConfiguration_Runtime].Value" Items="@BlazorRuntimes" Label="@L["Blazor Runtime"]"></MudSelectItem>
            </div>
        </fieldset>
    </EditForm>

    <MudButton OnClick="@(()=>apiClient.CancelChanges())">@L["Cancel"]</MudButton>
    <MudButton OnClick="@SaveChanges">@L["Save"]</MudButton>
}

@code {

    private string[] BlazorRuntimes { get; set; } = ((BlazorRuntime[])Enum.GetValues(typeof(BlazorRuntime))).Select(i => i.ToString()).ToArray();

    protected override async Task OnInitializedAsync()
    {
        await LoadSettings("MainConfiguration_");
    }
}
